[core]
	editor = emacs
	hooksPath = ~/.config/git/hooks
[user]
	name = Stephen Bates
	email = sbates@raithlin.com
	signingkey = 2E06EA0F9D7B3EC9930C2DAAC04A6C77619F802A!
[commit]
	gpgsign = true
[pull]
	rebase = false
[push]
	default = simple
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
